body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #222222;
  width: 100%;
  height: 100vh;
  h1 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }
}

#timer {
  color: #FFFFFF;
  font-size: 64px;
  display: flex;
  flex-flow: column wrap;

  p {
    text-align: center;
  }

  h1 {
    font-size: 48px;
    text-decoration: underline;
  }

  h6 {
    margin: 0 auto 18px;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
  }
}
        
#label {
  font-size: 40px;
  padding-left: 4px;
}
